language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -y gearman-job-server gearman
    - composer --prefer-dist --dev install
